/ {
    aliases {
        app-led = &green_led;
    };
    // leds: leds {
	// 	compatible = "gpio-leds";

	// 	green_led: led_0 {
	// 		gpios = <&gpiob 0 GPIO_ACTIVE_HIGH>;
	// 		label = "User LD1";
	// 	};

	// 	blue_led: led_1 {
	// 		gpios = <&gpiob 7 GPIO_ACTIVE_HIGH>;
	// 		label = "User LD2";
	// 	};

	// 	red_led: led_2 {
	// 		gpios = <&gpiob 14 GPIO_ACTIVE_HIGH>;
	// 		label = "User LD3";
	// 	};
	// };
    our_driver0: our_driver {
        compatible = "our,driver";
        led-gpios = <&gpiob 7 GPIO_ACTIVE_HIGH>;
        status = "okay";
    };
};