config APP_HEARTBEAT_PERIOD_MS
    int "Heartbeat LED period (ms)"
    default 500
    range 100 2000
    help
      Defines the blink period for the heartbeat LED in milliseconds.

source "Kconfig.zephyr"